* {
    margin: 0px;
    padding: 0px;
}

body {
    justify-content: right;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 1300px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 100;
    background-image: url("../multimedia/image/navbar.png");
    margin-bottom: 1px;
    text-align: center;
    box-shadow: 20px 20px 20px -4px rgba(0, 0, 0, 0.70);
}

.navbar{
    min-width: 100%;
    height: 10vh;
}

main {
    width: 100%;
    min-height: 75vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
}

nav>ul>li {
    list-style: none;
    font-weight: bolder;
    font-size: 25px;
    width: 180px;
    height: 30px;
    margin-bottom: 1px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

nav a {
    text-decoration: none;
    font-size: 15px;
    color: black;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

nav div {
    display: flex;
    flex-direction: row;
    width: 25%;
    justify-content: flex-end;
}

section {
    padding: 5px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section h1 {
    justify-content: center;
    align-items: center;
}

.logoE {
    background-image: url("../multimedia/image/logoE.jpg");
    background-size: cover;
    height: 100px;
    width: 100px;
    justify-content: left;
}

.logocontainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.container{
    padding: 60px 0;
}

.fondoenda {
    background-image: url("../multimedia/image/fondoEnda.jpg");
    background-size: cover;
}

footer {
    height: 12vh;
    position: static;
    bottom: 0px;
    left: 0px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    display: flex;
}

.footer{
    height: 10vh;
    width: 100%;
}

footer div {
    width: 98vw;
    background-image: url("../multimedia/image/fondoFooter.jpg");
}

footer ul {
    display: flex;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

footer li {
    font-size: 30px;
    list-style: none;
    margin: 1% 2%;
}

footer div ul li a {
    color: black;
}

.contenedor {
    margin-top: 50px;
}
.espacio{
    width: 300px;
}

.caja {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    text-align: center;
    border: 1px rgba(0, 0, 0, 0.229) solid;
    box-shadow: 20px 20px 20px -4px rgba(0, 0, 0, 0.70);
}

.empresas {
    background-size: cover;
    /* padding: 10px; */
    margin: 20px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 30%;
    min-height: 80%;
}

.contenedorimagen {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 500px;
    height: 300px;
}

.contenedorimagenempresas {
    padding: 1px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 1100px;
    height: 300px;
    /* border: 2px solid rgb(255, 98, 0); */
}

.imagen {
    background-size: cover;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-image: url("../multimedia/image/quality-assurance-qa-automation-blog-banner.jpg");
    border-radius: 10px;
    margin-bottom: 1px;
    box-shadow: 20px 20px 20px -4px rgba(0, 0, 0, 0.70);
}

.contenedorimagenEnda {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1000px;
    height: 500px;
}

.imagenEnda {
    background-size: cover;
    justify-content: center;
    align-items: center;
    height: 85%;
    width: 85%;
    background-image: url("../multimedia/image/fondo_compu.png");
    border-radius: 10px;
    margin-bottom: 1px;
    box-shadow: 20px 20px 20px -4px rgba(0, 0, 0, 0.70);
}

.contenedortexto {
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    min-height: 10vw;
    margin: 30px 0;
}

.texto {
    background-color: #946cc22f;
    padding: 20px;
    /* opacity: 60%; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 1px;
    text-align: center;
    font-size: 20px;
    border: 1px rgba(0, 0, 0, 0.229) solid;
    box-shadow: 20px 20px 20px -4px rgba(0, 0, 0, 0.70);
}

h1 {
    margin-bottom: 1rem;
    text-shadow: none;
    text-align: center;
}

h1 {
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-size: 36px;
}

h2 {
    color: #0a0a0a;
    font-family: Neucha, Arial, sans serif;
    font: size 20px;
    margin-bottom: 30px;
}